<hr>
<b>
    <h1>Register Akun Baru!</h1>
</b>

<p>
    <b>Isilah form dibawah ini</b><br>
<form action="" method="POST">
    <label for="fname">First name:</label><br><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br><br>
    <input type="text" id="lname" name="lname"><br><br>
    Gender:<br><br>
    <input type="radio" id="male" name="gender" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="Female">
    <label for="female">Female</label>
    <input type="radio" id="other" name="gender" value="Other">
    <label for="other">Other</label>
    Nationality:<br><br>
    <select id="nationality" name="nationality">
        <option value="indonesia" selected>Indonesia</option>
        <option value="indoa">India</option>
        <option value="thailand">Thailand</option>
        <option value="wakanda">Wakanda</option>
    </select><br><br>
    Sedang Fokus Belajar:<br><br>
    <select id="materi" name="materi">
        <option value="reactjs" selected>ReactJs</option>
        <option value="golang">golang</option>
        <option value="c">C</option>
    </select><br><br>
    Language Spoken:<br><br>
    <input type="checkbox" id="indonesia" name="language" value="indonesia">
    <label for="indonesia"> Indonesia</label>
    <input type="checkbox" id="english" name="language" value="english">
    <label for="english"> English</label>
    <input type="checkbox" id="other" name="language" value="other">
    <label for="other"> other</label><br><br>
    Deskripsi Diri Saya:<br><br>
    <textarea name="deskipsi" id="deskipsi">

    </textarea><br><br>
    <input type="submit" value="register">

</form>
</p>