* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    background-color:rgb(250, 250, 250);
}

/* Buatlah styling section top dibawah ini */
.top{
    display:flex;
    flex-direction: column;
    position:relative;
    width:100%;
}
h2{
    margin: 40px auto;
}
.icon{
    margin:0 auto;
    margin-bottom: 40px;
}
.icon i{
    width: 50px;
}



/* Buatlah styling section container dan card dibawah ini */

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;
}
.card{
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) ;
}
.card .description{
    padding: 20px;
}
img{
    /* border: 1px solid; */
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.card h2{
    margin-top: 0;
    margin-bottom: 0;
}
.card small{
    margin-top: 0;
}
.card p{
    margin-top: 20px;

}

/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */

@media only screen and (min-width : 480px) and (max-width : 768px ){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width : 480px ){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}