
.App {
  text-align: center;
  /* border:10px solid black; */
}

.content{
  position: relative;
  /* margin: 0 auto; */
  text-align: left;
  padding: 20px;
  display: inline-block;
  /* flex-direction: column; */
  /* width: 720px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) ;
}

img{
  margin: 0 auto;
  margin-top: 50px;
  /* margin-left: ; */
}

h1{
  color:#c6c9d6;
  margin-bottom: 0;
}

.title{
  border-bottom: 3px solid #a5a9b6;
  padding: 5px 0;
  margin-bottom: 10px;
}

.checkBox-list{
  padding: 10px 0;
  border-bottom: 3px solid #cbcedd;
}
.checkBox-list input{
  margin-right: 10px;
}
.submit input{
  margin-top: 15px;
  width:100%;
  color: white;
  padding: 10px;
  background-color:#40b4fc;
  border: 1px solid #40b4fc;
}
.submit input:active {
  background-color: rgb(255, 0, 0);
  border-color:#fc4040;
}