.dark-mode{
  background-color: #333333;
}
.dark-mode li a:hover {
  background-color: #111111;
}
.dark-mode li a {
  color: white;
}
.light-mode{
  background-color: #e6e6e6;
}
.light-mode li a:hover {
  background-color: #d3d3d3;
}
.light-mode li a {
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



.button{
  /* border:10px solid black;  */
  margin: 0 auto;
  margin-top:30px;
  width: 700px;
}
button a{
  color:black;
}
button a:link{
  text-decoration: none;
}
button a:visited{
  text-decoration: none;
}

.buttonTheme{
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  color:azure;
}
.buttonTheme button{
  height: 30px;
  border-radius: 5px;
}
.buttonTheme button:hover{
  color: aliceblue;
  background-color: rgb(222, 221, 221);
}

