
h1{
  text-align: center;
}

table{
  position: relative;
  border-collapse: collapse;
  margin:0 auto;
}

table th, table td{
  border-bottom: 2px solid rgb(189, 189, 189);
  padding:5px 25px;
  text-align: left;
}

form{
  position:flex;
  width: 700px;
  justify-content: space-between;
  margin: 0 auto;
  padding:15px 25px;
  border:2px solid rgb(177, 177, 177);
  margin-bottom: 50px;
}
form .row{
  display:flex;
  padding: 10px 0;
  justify-content: space-between;
}
form label{
  font-weight: 700;
  display: inline-block;
  width:200px;
}
form input[type="text"]{
  margin-left:auto;
  margin-right: 0px;
  width:240px;
}
form input[type="number"]{
  margin-left:auto;
  margin-right: 0px;
  width:240px;
}
form .submit{
  direction: rtl;
}