* {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #FFF9F9;
}

header{
  background-color:#FFFFFF;
  left: 0;
  right:0;
  top:0;
  display: flex;
  position:fixed;
  width:100%;

}
header nav{
  /* z-index:2; */
  margin-top: 15px;
  margin-right: 10px;
  display:flex;
  justify-content: flex-end;
  position:fixed;
  width:100%;
}
nav ul li {
  display:inline;
  padding: 10px 15px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

#article-list {
  padding: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 200px auto;
  width: 70%;
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.045),
  0px 0px 5.3px rgba(0, 0, 0, 0.065),
  0px 0px 10px rgba(0, 0, 0, 0.08),
  0px 0px 17.9px rgba(0, 0, 0, 0.095),
  0px 0px 33.4px rgba(0, 0, 0, 0.115),
  0px 0px 80px rgba(0, 0, 0, 0.16);
  }

#article-list h1{
  margin: 20px 0;
}
  
#article-list .article{
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgb(224, 224, 224);
}

footer{
  display: flex;
  position:relative;
  width:100%;
  background-color: #5264C7;
  bottom: 0px;
  border-bottom: 1px solid rgb(117, 0, 0);
}
footer h5{
  text-align: center;
  color:aliceblue;
  margin: 10px auto;
}