* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
    font-size: 22px;
}

/* Buatlah styling setiap section dibawah ini */
header{
    width: 780px;
    margin: 0 auto;
}

.container {
    width: 780px;
    margin: 0 auto;

}
.container .container_hero{
    position:relative;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    color: white;
    background: #186454;
    padding: 30px; 
    width:auto;
    height: 150px;
    margin:0 10px;
}
.container .container_hero p{
    align-items: right;
    text-align:right;
    margin-left: 150px;
    font-size: 18px;
}

.container .container_bottom{
    margin:10px;
    margin-top: 20px;
    align-content: left;
}
.container .container_bottom p{
    font-size: 16px;
}
.container .container_bottom button{
    margin-left: 30px;
    font-size: 14px;
    padding: 5px 15px;  
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container .container_support{
    /* border: 1px solid; */
    margin:80px auto;

}
.container .container_support p{
    margin:0 auto;
    text-align:center;
    
    font-size: 12px;
}
.container .container_support .logo{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.container .container_support .logo img{
    margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container .container_features_title h1{
    display: inline;
    text-align: left;
    margin:0 10px;
    border-bottom: 5px solid;
    padding: 7px 0;
}
.container .container_features{
    display:grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 50px 10px;
    gap: 50px;
    /* border: 1px solid red; */
}
.container .container_features .container_features-card h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding:20px;

}
.container .container_features .container_features-card p{
    font-size: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container .container_pricing_title{
    margin:100px auto;
    text-align: center;
}
.container .container_pricing_title h1{
    display: inline;
    border-bottom: 5px solid;
    padding: 7px 0;
}
.container_pricing{
    display:flex;
    margin: 0 auto;
    padding: 25px 0;
    flex-direction: column;
    width:420px;
    background-color: #28343c;
}
.container_pricing .container_pricing-card{
    background-color: white;
    border-radius: 15px;
    margin:25px auto;
    padding:30px 20px;
    text-align: center;
    width: 70%;
}
.container_pricing .container_pricing-card h1{
    font-size: 30px;
    margin: 20px;
}
.container_pricing .container_pricing-card small{
    font-size: 14px;
}
.container_pricing .container_pricing-card ul{
    margin-top: 20px;
}
.container_pricing .container_pricing-card ul li{
    font-size: 14px;
    text-align: left;
}
/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive dibawah sini*/

@media only screen and (max-width: 480px){
    header{
        width: 100%;
        margin: 0 auto;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    .container .container_hero{
        flex-direction: column;
        height: auto;
    }
    .container .container_support .logo{
        gap: 50px;
        margin: 50px 0;
        grid-template-columns: 1fr;
    }
    .container .container_features{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 480px) and ( max-width: 780px ){
    header{
        width: 100%;
        margin: 0 auto;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    .container .container_hero{
        flex-direction: column;
        height: auto;
    }

    .container .container_support .logo{
        gap: 50px;
        margin: 50px 0;
        grid-template-columns: 1fr;
    }
    .container .container_features{
        grid-template-columns: 1fr 1fr;
    }
}